---
layout: default
title: RC
---

<h1 class="h1-text">recurse log</h1>
<h3 class="h3-text">I am currently at <a href="https://www.recurse.com">the Recurse Center</a> for the full 2019 Fall 2 batch.</h3>

<h2 class="h2-text">daily log:</h2>
<ul>
  {% for post in site.posts %}
    {% assign lower_title = post.title | downcase %}
      {% if lower_title contains "recurse" %}
        <li><i>{{ post.date | date_to_string }} - </i><a href="{{ post.url }}">{{ post.title | downcase }}</a></li>
      {% endif %}
  {% endfor %}
</ul>