---
layout: default
title: RC
---

<header>
    <div class="container">
        <h2>recurse log</h2>
    </div>    
</header>

<section>
    <div class="container">
        <h3>I am currently at <a href="https://www.recurse.com">the Recurse Center</a> for the full 2019 Fall 2 batch.</h3>

        <ul>
            {% for post in site.posts %}
                {% assign lower_title = post.title | downcase %}
                    {% if lower_title contains "recurse" %}
                        <li class="post"><i>{{ post.date | date_to_string }} - </i><a href="{{ post.url }}">{{ post.title | downcase }}</a></li>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
</section>