<div class="container nav">
    <a class="btn-text" href="/"><h1>I am Leo</h1></a>
    <div class="nav-buttons">
        <a class="btn" href="/">Home</a>
        <a class="btn" href="/about.html">About</a>
        <a href="https://github.com/robinovitch61" target="_blank">
            <img id="github" src="/assets/images/github.png" alt="github" title="github">
        </a>
        <a href="https://www.linkedin.com/in/leo-robinovitch-439b98a6/" target="_blank">
            <img id="linkedin" src="/assets/images/linkedin.png" alt="github" title="github">
        </a>
    </div>
</div>