---
title: default
---
<!doctype html>
<html lang="en">  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1>

        <meta name="theme-color" content="#000000">

        <!-- <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500&display=swap" rel="stylesheet"> -->
        <link href="/assets/css/styles.css" rel="stylesheet">
        <link href="/assets/css/prism.css"/ rel="stylesheet">

        <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
        {% feed_meta %}
        
        <title>{{ page.title }}</title>
        {% include navigation.html %}
    </head>
    
    <body>
        {{ content }}
        <script src="/assets/js/prism.js"></script>
    </body>
    
</html>
